* {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  box-sizing: border-box;
}
body {
  background-color: #cdfadb;
  text-align: center;
}
h1{
    font-size: 8vmin;
}
.container {
  height: 70vmin;
  display: flex;
  align-items: center;
  justify-content: center;
}
.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.5vmin;
}

.box {
  height: 17vmin;
  width: 17vmin;
  border-radius: 1rem;
  font-size: 8vmin;
  color: chocolate;
  box-shadow: 0 0 5px rgb(0, 0, 0, 0.5);
}
.reset{
    height: 9vmin;
    width: 14vmin;
    font-size: 3vmin;
    color: black;
    background-color:rgba(215, 199, 83, 0.5) ;
}
.new-game{
  height: 6vmin;
  font-size: 1rem;
  background-color: darkcyan;
  border-radius: 1rem;
}
.mis{
  font-size: 5vmin;
}
.hide{
  display: none;
}